<!DOCTYPE html>

<html>


<head>

  <title>about</title>
   <link rel="icon" href="/img/weather.png">
    <link rel="styleSheet" href="/css/style.css">
    <body>
     
     <div class="main-content">
      {{>header}}
      <p>This site is created by venkata pasupuleti. It uses data from mapbox.com and darksky.net</p>
         <img class="portait" src="/img/robot.png">

         </div>
           {{>footer}}
    </body>
</head>

</html>